.conteiner-button{
    display: inline-flex
}
.custom-button{
    width: 147px;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #00CCA3;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.button-click:hover {
    background-color: #00CCA3;
    transition: background-color 0.2s, color 0.2s;
}
