.custom_button {
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
    background: none;
    color: var(--primary-white);
}

.custom_button:hover {
    box-shadow: 1px 2px 16px var(--button-box-shadow-color) inset;
}
