.custom__input {
    width: 100%;
    height: 49px;
    border-radius: 0;
    color: var(--secondary-gray);
    font-size: var(--font-size-sm);
    border: none;
    border-bottom: var(--border-width-sm) solid var(--primary-border-color);
    padding: 0;
}

label {
    color: var(--secondary-gray);
    font-size: var(--font-size-xs);
    line-height: 20px;
}

.container__input:disabled {
    cursor: not-allowed;
}

.container__input:disabled {
    background-color: var(--primary-color);
}

.container__input:hover {
    border-color: var(--primary-color);
}

.container__input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}