.container__select {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 237px;
    padding: 0 0 10px 0;
}

.custom__label {
    color: var(--secondary-gray);
    font-size: var(--font-size-xs);
    line-height: 20px;
}

.custom__select {
    -webkit-appearance: none;
    padding: 11px 0;
    border: none;
    border-bottom: var(--border-width-sm) solid var(--primary-border-color);
    color: var(--secondary-gray);
    border-radius: 0;
    background: none;
    width: 100%;
    background: transparent;
    background-image: url("../../../../../public/assets/select_icon.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

.custom__select:disabled {
    cursor: not-allowed;
    background-color: var(--primary-color);
}

.custom__select:hover {
    border-color: var(--primary-color);
}

.custom__select:focus {
    border-color: var(--primary-color);
    outline: none;
}
