.container {
    width: 100%;
}

.inputs_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.container_controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.controls_buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
    .inputs_main {
        display: flex;
        flex-direction: column;
    }
}
